   
    {{> head}}
    {{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>Cachorrito</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus praesentium quam suscipit dicta sed corporis sapiente porro ducimus aspernatur illum molestias doloribus culpa ut corrupti optio nostrum natus provident placeat incidunt asperiores maiores sequi! Doloremque eos quia rerum? Maxime, facere reiciendis! Distinctio dolore explicabo rem accusamus quia aspernatur tenetur.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/cachorrito.jpg" class="img-thumbnail">
        </div>

    </div>





    {{> footer}}